<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Yahtzee.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Yahtzee.Properties.Settings>
            <setting name="NumberOfGames" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AverageScore" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastScore" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastDate" serializeAs="String">
                <value>1970-01-01</value>
            </setting>
            <setting name="HighScore1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HighDate1" serializeAs="String">
                <value>1970-01-01</value>
            </setting>
            <setting name="HighScore2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HighDate2" serializeAs="String">
                <value>1970-01-01</value>
            </setting>
            <setting name="HighScore3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HighDate3" serializeAs="String">
                <value>1970-01-01</value>
            </setting>
            <setting name="HighScore4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HighDate4" serializeAs="String">
                <value>1970-01-01</value>
            </setting>
            <setting name="HighScore5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HighDate5" serializeAs="String">
                <value>1970-01-01</value>
            </setting>
            <setting name="HighScore6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HighDate6" serializeAs="String">
                <value>1970-01-01</value>
            </setting>
            <setting name="HighScore7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HighDate7" serializeAs="String">
                <value>1970-01-01</value>
            </setting>
            <setting name="HighScore8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HighDate8" serializeAs="String">
                <value>1970-01-01</value>
            </setting>
            <setting name="HighScore9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HighDate9" serializeAs="String">
                <value>1970-01-01</value>
            </setting>
            <setting name="HighScore10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HighDate10" serializeAs="String">
                <value>1970-01-01</value>
            </setting>
            <setting name="LowScore" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LowDate" serializeAs="String">
                <value>1970-01-01</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>1100</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>700</value>
            </setting>
        </Yahtzee.Properties.Settings>
    </userSettings>
</configuration>